.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  flex-wrap: wrap;
  /*gap: 15px;*/
  width: fit-content;
  margin: auto;
}

.cards .red {
  background-color: #9f542a;
}

.cards .blue {
  background-color: #6d54c1;
}

.cards .green {
  background-color: #6f9c35;
}

.cards .yellow {
  background-color: #474040;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    flex-wrap: wrap;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  margin: 10px;
}


.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
  margin: 2px;
}

.cards .card p.second-text {
  font-size: .5em;
    margin: 2px
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
